.site-main__contact {
    width: 100%;
    padding-top: 105px;
    padding-bottom: 127px;
    position: relative;
    z-index: 1;
    background: #2D2641;
    padding-bottom: 127px;
   &::before{
    position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 649px;
    height: 649px;
    z-index: 1;
    left: -503px;
    top: 494px;
    left: calc(50% - 1238px);
    background-repeat: no-repeat;
    background-image: url(../img/img-before.svg);
    content: '';
   }
   &::after{
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 100%;
    max-width: 649px;
    height: 649px;
    left: calc(50% + 273px);
    top: 4px;
    background-image: url(../img/lmg-after.svg);
    background-repeat: no-repeat;
    content: "";
   }
}
.site-main__wrraper {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
}
.site-main__wrraper-head {
    margin-top: 0;
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
    max-width: 540px;
    height: 140px;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
    &::before{
        margin-bottom: 63px;
        width: 150px;
        height: 1px;
        display: block;
        border-top: 1px solid #fff;
        content: '';
    }
}
.site-main__wrraper-page {
    margin-bottom: 24px;
    width: 100%;
    max-width: 540px;
    height: 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 46px;
    color: #ffffff;

}
.site-main__wrraper-img {
    position: absolute;
    z-index: 1;
    bottom: -155px;
    left: calc(50% + 30px);
}

@include breakpoint-down(1590px){
    .site-main__contact{
        &::after{
            left: calc(50% - 65px);
        }
    }
}
@include breakpoint-down(1080px){
    .site-main__wrraper-head{
        width: 100%;
        max-width: 400px;
    }
    .site-main__wrraper-page{
        width: 100%;
        max-width: 400px;

    }
    .site-main__wrraper-img{
        left: calc(50% - 55px);
    }
}
@include breakpoint-down(920px){
    .site-main__contact{
        z-index: 0;
        text-align: center;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    .site-main__wrraper{
        flex-direction: column;
    }
    .site-main__wrraper-img{
        position: static;
    }
}
@include breakpoint-down(572px){
    .site-main__contact{
        &::before{
            position: absolute;
            display: block;
            z-index: -1;
            top: 293px;
            transform: rotate(69deg);
            width: 100%;
            left: calc(50% - 774px);
            height: 100%;
            background-image: url(../../img/before-mobile.svg);
            content: '';
        }
        &::after{
            position: absolute;
            display: block;
            top: 934px;
            -webkit-transform: rotate(69deg);
            transform: rotate(0deg);
            width: 25%;
            left: calc(50% - -125px);
            height: 100%;
            background-image: url(../../img/after-mobile.svg);
            content: '';
        }
    }
    .site-main__wrraper-head{
        &::before{
            display: none;
        }
    }
        .site-main__wrraper-img{
            width: 375px;
            height: 451px;
    }
}
    